{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="flex flex-row">
    <div class="basis-1/2">Friday, 25th May 2024</div>
    <div class="basis-1/2 flex justify-end ">
        <button class="bg-white border-2 hover:bg-gray-400 text-deepNavy font-bold py-2 px-4 rounded-full inline-flex items-center">
            {% heroicon_solid "pencil-square" %}
            <span>Book a Case</span>
        </button>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-4">
    <div class="col-span-3">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="border  rounded p-3  border-gray-300">
                <h4 class="flex items-center font-bold text-xl mb-3">
                    {% heroicon_solid "pencil-square" %}&nbsp;&nbsp;
                   Case Status
                </h4>
                <div class="grid grid-cols-2  gap-4 place-items-auto text-white">
                    <div class=" bg-mutedTeal text-center py-6 px-10">
                        <p class="font-bold text-5xl mb-2">5</p>
                        <h5>Open</h5>
                    </div>
                    <div class=" bg-mutedTeal text-center py-6 px-10">
                        <p class="font-bold text-5xl  mb-2">3</p>
                        <h5>Closed</h5>
                    </div>
                  </div>
            </div>
            <div class="border  rounded p-3  border-grey">
                <h4 class="flex items-center font-bold text-xl mb-3">
                    {% heroicon_solid "user" %}&nbsp;&nbsp;
                  Criminal Status
                </h4>
                <div class="grid grid-cols-2  gap-4 place-items-auto text-white">
                    <div class=" bg-mutedTeal text-center py-6 px-10">
                        <p class="font-bold text-5xl  mb-2">10</p>
                        <h5>Males</h5>
                    </div>
                    <div class=" bg-mutedTeal text-center py-6 px-10">
                        <p class="font-bold text-5xl  mb-2">8</p>
                        <h5>Females</h5>
                    </div>
                  </div>
            </div>
            <div class="">
                <h4 class="flex items-center font-bold text-xl mb-3">
                    {% heroicon_solid "users" %}&nbsp;&nbsp;
                   Officers on Duty
                </h4>
                <ul class="list-disc pl-8">
                    <li >Constable Joe Emmanuel</li>
                    <li>Constable Titilola Emeka</li>
                    <li >Constable Joe Emmanuel</li>
                    <li>Constable Titilola Emeka</li>
                    <li >Constable Joe Emmanuel</li>
                    <li>Constable Titilola Emeka</li>
                </ul>
            </div>
            <div class="">
                <img src="../../static/images/ggraph.png" alt="graph">
            </div>
        </div>
    </div>
    <div class="p-3 bg-lightBlueGrey rounded text-center mx-auto">
        <h4 class="flex items-center font-bold text-xl mb-3">
            {% heroicon_solid "users" %}&nbsp;&nbsp;
          Wanted Persons
        </h4>
        <img src="../../static/images/criminal1.png" alt="" class="mx-auto my-2">
        <img src="../../static/images/criminal2.png" alt="" class="mx-auto my-2">
        <a href="#" class="align-right">View More ...</a>
    </div>
  </div>
{% endblock %}