<!DOCTYPE>
<html lang="en" style="background-color: grey">
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <link rel="stylesheet" href="../static/styles/id.css">
    </head>
    <body>
        <header>
            <form action="search.php" method="post">
                <input type="text" name="search" placeholder="Search">
                <button type="submit">Search</button>

        </header>
        <p>Welcome to the home page</p>
        <div>
            <class id="nav">
                <a href="home.html">Home</a><br />
                <a href="Booked_Criminals.html">Booked Criminals</a><br />
                <a href="officers_on_duty.html">Officers on Duty</a><br />
                <a href="admin_page.html">Administration</a><br />
                <a href="criminals_in_cell.html">Criminals in Cell</a><br />
    
                </a>
        </div>
        
       
        <footer>
            <p> Copyright @Grace and Olisajiokem 2024</p>
        </footer>
</html>
