{% extends 'base.html' %}
{% block title %}Case List{% endblock %}
{% block content %}
    <h1>Criminal Case List</h1>
    <a href="{% url 'case_create' %}">Add New Criminal Case</a>
    <ul>
        {% for criminalcase in criminalcases %}
            <li>
                {{ criminalcase.case_number }} - {{ criminalcase.crime_type }} ({{ criminalcase.case_status }}) - 
                <a href="{% url 'case_update' case.pk %}">Edit</a> | 
                <a href="{% url 'case_delete' case.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
